.card {
  margin: 1rem;
  width: 20rem;
  min-width: 20em;
  text-decoration: none;
}

.UtilBar {
  width: 100%;
  margin: 1.5em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  a {
    font-size: 22px;
    margin-right: 1em;
    color: gray;
    text-decoration: none;
    border-bottom: solid 3px gray;
  }
  .left_btn_box {
    margin-left: 1.5em;
    display: flex;
    flex-flow: row;

    .selectbox {
      margin-left: 1rem;
      display: flex;
      flex-flow: row;
      align-items: center;
      background-color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border: solid 0.5px rgb(222, 226, 230);
      border-radius: 10%;

      span {
        font-size: 1rem;
      }
      .dropdown-icon {
        margin-left: 0.5rem;
      }
    }
  }
  .right_btn_box {
    margin-right: 1.5em;
  }
}
.Container {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.CardBox {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex: 1 1 0;
}
