.Container {
  .search-tool-box {
    margin-top: 1.5rem;

    .search-tool-wrap {
      width: 50rem;
      border: solid 1px gray;
      display: flex;
      flex-flow: row;
      .icon-wrap {
        display: flex;
        flex-flow: column;

        p {
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 2rem;
          svg {
            align-content: center;
          }
        }
      }
      input {
        width: 100%;
        border: none;
      }
      input:focus {
        outline: none;
      }
    }
  }
  .result-box {
    margin-top: 1rem;
    width: 50rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .searchcard-wrap {
      .searchcard-header {
        display: flex;
        flex-flow: row;
        .img-wrap {
          margin-right: 1rem;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          text-align: center;
          img {
            width: 50px;
            position: absolute;
          }
        }
        align-items: center;
      }
      .searchcard-article {
        margin-top: 1rem;
      }
      .searchcard-footer {
        margin-top: 1rem;
        small {
          color: gray;
          // display: flex;
          // justify-content: flex-end;
        }
      }
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 3rem;
      width: 100%;
      border-bottom: solid 0.5px gray;
    }
  }
}
